<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Practice Test Suite" thread-count="1" parallel="methods" >
	<test name="Automation Practice Test Cases">
		<classes>
			<class name="com.automation.qa.testcases.LoginPageTest"></class>
			<class name="com.automation.qa.testcases.HomePageTest"></class>
			<class name="com.automation.qa.testcases.SearchPageTest"></class>
			<class name="com.automation.qa.testcases.SelectAndCheckoutPageTest"></class>
			<class name="com.automation.qa.testcases.OrderHistoryPageTest"></class>
			
		</classes>
	</test>
</suite>